title: Welcome
-------------------

<section id="splash">
  <h1 class="textSplash">Connecting to life's magic to find the power to act!</h1>
</section>
<section>
<h2>How can permaculture help you ?</h2>

<p>
  The corona virus crisis shows the extent of the fragility of our western society centered on individualism and the accumulation of wealth. Are you tired of this world and would like to be part of the ones who build a new one ? So come on on board !
</p><p>
  Embark for an experiential journey where you will understand the big flaws of our model of society, how they are contrary to the laws of nature sustaining life, you will discover hundreds of initiatives across the globe which hint a path to build a more resilient future, ever more closer to nature.
</p><p>
  Indeed, permaculture is not only about growing food and saving water. Permaculture is looking at what is around us through new lenses, it's (re)learning how to work with Mother Nature instead of against.
</p><p>
  Which are the keys to build a society able to care for humans and for life? What is my place in this uncertain and scarry world?... How can I become actor of my life and contribute to the positive change in society? How can I change step by step my habits, thus contributing to build the society in which I would like to see my children grow, and myself grow old? A society with more peace, sharing, trust?... What concrete actions can I start doing right now?
</p><p>
  Permaculture... is the answer to all these questions! :)
</p>

</section>
