<%
const months = [0,'Janvier', 'Février', 'Mars', 'Avril','Mai', 'Juin','Juillet', 'Août','Septembre', 'Octobre','Novembre', 'Décembre'];
function formatDate(dateStart,dateEnd){
    const dS = dateStart.toISOString().split('T')[0].split('-').reverse();
    const dE = dateEnd.toISOString().split('T')[0].split('-').reverse();
    dS[1]= months[parseInt(dS[1])];
    dE[1]= months[parseInt(dE[1])];
    for(let i = dE.length-1;i>=0;i--) {
        if(dE[i]===dS[i]) dS.pop();
        else break
    }
    if(dS.length === 0) return `Le ${dE.join(' ')}`;
    return `Du ${dS.join(' ')} au ${dE.join(' ')}`;
}
%>
<div class="event">
    <a class="illu" href="<%= myEvent.pageUrl?myEvent.pageUrl:myEvent.type.pageUrl %>"><img src="<%= myEvent.img?myEvent.img:myEvent.type.img %>" alt="<%= myEvent.type.titleSlug %>"/></a>
    <div>
        <h2>
            <span class="titleShort"><%= myEvent.titleShort?myEvent.titleShort:myEvent.type.titleShort %></span>
            <span class="titleLong"><%= myEvent.titleLong?myEvent.titleLong:myEvent.type.titleLong %></span>
        </h2>
        <div>
            <span class="date">
                <%= formatDate(myEvent.dateStart,myEvent.dateEnd) %>
                <input hidden class="debut" value="<%= myEvent.dateStart %>"/>
                <input hidden class="fin" value="<%= myEvent.dateEnd %>"/>
            </span>
            <span class="place">
                <a target="_blank" href="https://www.openstreetmap.org/?mlat=<%= myEvent.place.gps.lat %>&mlon=<%= myEvent.place.gps.lon %>#map=12/<%= myEvent.place.gps.lat %>/<%= myEvent.place.gps.lon %>">📍</a>
                <%- myEvent.place.address %>
                <span class="region"><%= myEvent.place.region %></span>
            </span>
        </div>
        <p class="teaser"><%- myEvent.teaser?myEvent.teaser:myEvent.type.resumeDescription %>
            <% if(myEvent.pageUrl || myEvent.type.pageUrl){ _%>
                <a href="<%= myEvent.pageUrl?myEvent.pageUrl:myEvent.type.pageUrl %>">... En savoir plus <%= myEvent.type.titleShort %>...</a>
            <% } _%>
        </p>
        <div>
            <% if(myEvent.leaflet){ _%><a class="button" target="_blank" href="<%= myEvent.leaflet %>">Plaquette</a><% } _%>
            <% if(myEvent.subscribe){ _%><a class="button right" target="_blank" href="<%= myEvent.subscribe %>">Préinscris-toi !</a><% } _%>
        </div>
    </div>
</div>
