title: Accueil
<<: !!inc/file ../temoignages.yml
<<: !!inc/file ../dates.yml
-------------------

<section id="splash">
  <h1 class="textSplash">«&nbsp;Plante un arbre chaque jour&nbsp;»
    <div style="text-align:right">
    <br>Mundiya Kepanga
    <div class="context">Léognan 22 mai 2019 <br>lors de la fête de la nature</div>
    </div>
  </h1>
  <img class="logoIllu" src="img/nature-vagabonde-feuille-logo.png" alt=""/>
</section>



<section>
  <a class="button right withPicto agenda" href="dates.html">Prochaines Dates...</a>


<h2>Presentation :</h2>

<p>
Le but de notre association de loi 1901 est de promouvoir la sensibilisation de l'humain au monde vivant.
</p><p>
Nous sommes implantés à Gradignan en Gironde.
</p><p>
   Nous créons et proposons des animations afin de partager et transmettre notre expérience des interactions avec le vivant,
</p><p>
au moyen d’approches pédagogiques, légèrement scientifiques, surtout ludiques,
artistiques et sensorielles, dans un esprit de convivialité et d'entraide.
</p><p>
Nous proposons :
</p><p>
    • du jardinage d’inspiration permaculturelle,
</p><p>
    • des balades de plantes sauvages comestibles et toxiques,
</p><p>
    • des animations pédagogiques qui aident à découvrir le fonctionnement du monde vivant,
</p><p>
    • des ateliers manuels, artistiques et ludiques pour se relier aux éléments naturels,
</p><p>
    • des moments de célébrations et communions avec les cycles de la nature.
</p><p>
Nous sommes une collégiale de 4 personnes, chacun effectue les actions nécessaires au fleurissement de l’association en fonction de ses compétences.
</p>

</section>
<section>
  <h2>Ethique et philosophie</h2>

<p>
Suivre les principes de la permaculture :
Nous adhérons aux trois piliers qui fondent la permaculture :
</p><p>
• prendre soin de la terre
</p><p>
• prendre soin des humains
</p><p>
• partager équitablement les ressources
</p><p>
Ainsi l’humain a la possibilité grâce à son expérience, son observation et compréhension du monde vivant, sa technicité et créativité, de créer des paradis sur terre.
</p><p>
• Laisser la place à l’expression du sauvage :
</p><p>
En considérant que le sauvage soit la part libre qui s’exprime avec intuitivité, nous pouvons baisser notre contrôle sur nous-même et notre environnement afin de se </p><p>sentir mieux connecté, se sentir relié aux énergies de vie.
</p><p>
A ce moments, au lieu d’être guidé inconsciemment par nos peurs et vouloir exercer une maîtrise sur la  nature, nous pouvons prendre le temps de coopérer avec la </p><p>nature, adapter nos actions au juste équilibre de nos besoins et ceux des autres êtres vivants.
</p><p>
Nous accueillons la biodiversité résiliente et les surprises.
</p><p>
Quand nous nous connectons à l’énergie de vie, nous accédons avec gratitude à l’abondance, au merveilleux.
</p><p>
Sources :
</p><p>
Permaculture humaine de Bernard Alonso
</p><p>
La peur de la nature de François Terrasson
</section>
<section>
  <h2>Dates à venir</h2>

<%
const now = (new Date()).getTime();
const futureEvents = events.filter( (e) => e.dateEnd.getTime()>now );
futureEvents.sort( (a,b) => a.dateStart.getTime() - b.dateStart.getTime() );
futureEvents.forEach(event=>{
_%>
<%- include('../fragments/event.ejs',{myEvent:event}); %>
<% }); _%>
</section>
