<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title><%=title%></title>
  <link rel="canonical" href="<%=canonical%>"/>
  <style><%# minimal styling inline %>
    *{margin:0;padding:0;border:0;text-align:center;}
    h1{font-size:80px;display:block;font-family: sans-serif;}
    img{display: block; max-width: 30vw;max-height: 30vh; margin: 5vh auto;}
    li{display: inline-block; margin: 10px 20px;}
    a{display: inline-block; padding: 10px 30px; font-size:150%; color: #05A;}
    body{padding-top: 15vh;}
  </style>
  <meta property="og:type" content="website" />
  <meta property="og:locale" content="en" />
  <meta property="og:title" content="<%=og.title%>" />
  <meta property="og:site_name" content="<%=og.site_name%>" />
  <meta property="og:url" content="<%=canonical%>" />

  <meta property="og:image" content="<%=canonical%><%=og.images_path%><%=og.image%>" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="628" />

  <meta property="og:description" content="<%=description%>" />
  <meta property="og:updated_time" content="<%=now%>"/></head>
<body>
  <h1><%=title%></h1>
  <img src="img/lang.svg" alt="Select your prefered language."/>
  <ul>
    <% Object.keys(availableLang).forEach(l=>{ %>
      <li><a href="<%=l%>/"><%=availableLang[l]%></a></li>
    <% }); %>
  </ul>
  <script><%# choose lang and redirect %>
    const availableLang = <%-JSON.stringify(Object.keys(availableLang))%>;
    let userChoiceLang = navigator.language;
    console.log(userChoiceLang);
    if (!availableLang.includes(userChoiceLang)) userChoiceLang = userChoiceLang.substring(0, 2);
    if (availableLang.includes(userChoiceLang)) window.location.href = `/${userChoiceLang}/404.html?${location.href}`;
  </script>
</body>
</html>
