<!DOCTYPE html>
<html lang="<%=activeLang%>" vocab="http://schema.org/">
<%- include('fragments/head.ejs'); %>
<body>
<%- include(`../${activeLang}/fragments/nav_menu.ejs`); %>
{{{mainContent}}}
<%- include(`fragments/keep-in-touch.ejs`); %>
<%- include(`fragments/footer.ejs`); %>
<script src="../main.js"></script>
<script>
	window.runJS();
</script>
</body>
</html>
